body{
    background-color: #f5f5f5;
    font-family: roboto;
    margin: auto;
    text-align: center;
}
.login-form, -contenedor{
    width: 300px;
    margin:0 auto;
    box-shadow: 8px 8px 10px 0;
}
.login-form h1 {
    text-align: center;
    color: midnightblue;
    font-size: 28px;
    padding: 70px 0 10px;
}
.login-form input[type="password"],
.login-form input[type="text"]{
    width: 90%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.register-form, -contenedor{
    width: 500px;
    margin:0 auto;
    box-shadow: 8px 8px 10px 0;
}
.register-form label{
    position:relative; 
    float:left; 
    font-family: verdana; 
    color: midnightblue;
    padding-left: 10px;    
}
.register-form h1 {
    text-align: center;
    color: midnightblue;
    font-size: 28px;
    padding: 70px 0 10px;
}
.register-form input[type="password"],
.register-form input[type="text"],
.register-form select{
    width: 90%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.btn-login{
    width: 90%;
    padding: 15px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}
.btn-login:hover, .btn-login:active{
    color: #fff;
    background-color: #61428f;
    border-color: #61428f;
}
.btn-login:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
/*Estilos para boton register*/
.btn-register{
    width: 90%;
    padding: 15px;
    background-color: #34d399;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*para dar la apariencia de un boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
.btn-register:hover, .btn-register:active{
    color: #fff;
    background-color: #10b981;
    border-color: #10b981;
}
.btn-register:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
/*Estilos para boton cancelar*/
.btn-cancel{
    width: 50%;
    padding: 15px;
    background-color: #6b7280;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*para dar la apariencia de un boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
.btn-cancel:hover, .btn-cancel:active{
    color: #fff;
    background-color: #9599a0;
    border-color: #555a58;
}
.btn-cancel:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
/*Estilos del boton Guardar*/
.btn-save{
    width: 50%;
    padding: 15px;
    background-color: #1d4ed8;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}
.btn-save:hover, .btn-save:active{
    color: #fff;
    background-color: #1d4fd8cb;
    border-color: #1d4fd8ce;
}
.btn-save:focus{
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
/*Estilos para boton logout*/
.a-logout{
    width: 30%;
    padding: 15px;
    background-color: #3bac5c;
    border: 2;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*para dar la apariencia de un boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
.a-logout:hover, .btn-cancel:active{
    color: #fff;
    background-color: #33c75f;
    border-color: #184422;
}
.a-logout:focus{
    box-shadow: 0 0 0 3px rgba(49, 107, 62, 0.25);
}
/*Estilos para boton login*/
.a-login{
    width: 30%;
    padding: 15px;
    background-color: #c42525;
    border: 2;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /*para dar la apariencia de un boton*/
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
.a-login:hover, .btn-cancel:active{
    color: #fff;
    background-color: #df2727;
    border-color: #5c1919;
}
.a-login:focus{
    box-shadow: 0 0 0 3px rgba(138, 24, 24, 0.897);
}